{
.appVersion = "3526";
.formatVersion = 3;
date = "2026-05-27 01:21:38 +0000";
familyName = Gatura;
fontMaster = (
{
id = m01;
metricValues = (
{
over = 16;
pos = 750;
},
{
over = 16;
pos = 700;
},
{
over = 16;
pos = 400;
},
{
over = -16;
},
{
over = -16;
pos = -240;
},
{
}
);
name = Regular;
}
);
kerningLTR = {
m01 = {
"@MMK_L_A" = {
"@MMK_R_O" = -35;
"@MMK_R_T" = -80;
"@MMK_R_Y" = -110;
N = -10;
U = -75;
v = -70;
};
"@MMK_L_B" = {
"@MMK_R_j" = -40;
};
"@MMK_L_E" = {
"@MMK_R_A" = 10;
};
"@MMK_L_F" = {
"@MMK_R_A" = -110;
"@MMK_R_J" = -80;
};
"@MMK_L_H" = {
"@MMK_R_j" = -40;
};
"@MMK_L_K" = {
"@MMK_R_H" = -30;
"@MMK_R_J" = -30;
"@MMK_R_O" = -100;
"@MMK_R_U" = -40;
"@MMK_R_X" = -20;
"@MMK_R_o" = -50;
};
"@MMK_L_M" = {
"@MMK_R_O" = -30;
"@MMK_R_Y" = -90;
};
"@MMK_L_N" = {
"@MMK_R_A" = -30;
};
"@MMK_L_O" = {
"@MMK_R_A" = -50;
"@MMK_R_M" = -30;
"@MMK_R_T" = -30;
"@MMK_R_X" = -20;
"@MMK_R_Z" = -30;
V = -20;
W = -20;
};
"@MMK_L_P" = {
"@MMK_R_J" = -120;
"@MMK_R_j" = -70;
"@MMK_R_n" = -26;
"@MMK_R_o" = -40;
"@MMK_R_s" = -40;
};
"@MMK_L_Q" = {
"@MMK_R_U" = -50;
"@MMK_R_W" = -50;
"@MMK_R_Y" = -80;
};
"@MMK_L_R" = {
"@MMK_R_U" = -40;
"@MMK_R_V" = -90;
"@MMK_R_X" = -30;
Y = -100;
};
"@MMK_L_S" = {
"@MMK_R_j" = -50;
};
"@MMK_L_T" = {
"@MMK_R_A" = -80;
"@MMK_R_J" = -60;
"@MMK_R_O" = -30;
"@MMK_R_j" = -40;
"@MMK_R_o" = -40;
};
"@MMK_L_U" = {
"@MMK_R_A" = -60;
"@MMK_R_M" = -50;
"@MMK_R_j" = -90;
};
"@MMK_L_V" = {
"@MMK_R_A" = -120;
"@MMK_R_J" = -90;
"@MMK_R_O" = -20;
"@MMK_R_j" = -70;
"@MMK_R_n" = -60;
"@MMK_R_o" = -70;
"@MMK_R_u" = -30;
s = -70;
v = -10;
};
"@MMK_L_W" = {
"@MMK_R_J" = -90;
"@MMK_R_O" = -10;
"@MMK_R_j" = -60;
"@MMK_R_l" = 20;
"@MMK_R_o" = -40;
"@MMK_R_s" = -60;
x = -50;
};
"@MMK_L_X" = {
"@MMK_R_A" = -10;
"@MMK_R_O" = -20;
};
"@MMK_L_Y" = {
"@MMK_R_A" = -110;
"@MMK_R_H" = 0;
"@MMK_R_J" = -90;
"@MMK_R_M" = -90;
"@MMK_R_O" = -35;
"@MMK_R_j" = -120;
"@MMK_R_n" = -80;
"@MMK_R_o" = -60;
"@MMK_R_u" = -70;
"@MMK_R_w" = -70;
"@MMK_R_z" = -40;
p = -50;
s = -80;
v = -60;
x = -50;
y = -70;
};
"@MMK_L_a" = {
"@MMK_R_V" = -40;
"@MMK_R_Y" = -60;
};
"@MMK_L_f" = {
"@MMK_R_V" = 40;
"@MMK_R_Y" = 30;
"@MMK_R_j" = -90;
"@MMK_R_o" = -25;
"@MMK_R_u" = 9;
"@MMK_R_z" = -15;
};
"@MMK_L_g" = {
"@MMK_R_V" = -50;
"@MMK_R_Y" = -50;
};
"@MMK_L_i" = {
"@MMK_R_V" = -40;
"@MMK_R_j" = -90;
};
"@MMK_L_k" = {
"@MMK_R_U" = -20;
"@MMK_R_n" = -10;
"@MMK_R_o" = -35;
};
"@MMK_L_l" = {
"@MMK_R_V" = 40;
};
"@MMK_L_n" = {
"@MMK_R_V" = -50;
"@MMK_R_Y" = -80;
"@MMK_R_j" = -90;
v = -15;
y = -15;
};
"@MMK_L_o" = {
"@MMK_R_V" = -40;
"@MMK_R_Y" = -60;
"@MMK_R_j" = -75;
v = -10;
w = -20;
y = -40;
};
"@MMK_L_q" = {
"@MMK_R_T" = -20;
"@MMK_R_V" = -10;
"@MMK_R_Y" = -70;
T = 20;
};
"@MMK_L_r" = {
"@MMK_R_j" = -78;
s = -20;
};
"@MMK_L_s" = {
"@MMK_R_V" = -40;
"@MMK_R_Y" = -80;
"@MMK_R_j" = -40;
"@MMK_R_w" = -10;
};
"@MMK_L_t" = {
"@MMK_R_j" = -70;
};
"@MMK_L_v" = {
"@MMK_R_A" = -70;
"@MMK_R_Y" = -70;
"@MMK_R_Z" = -40;
"@MMK_R_j" = -70;
"@MMK_R_o" = -40;
s = -35;
};
A = {
N = -10;
V = -120;
W = -100;
};
E = {
N = -24;
};
M = {
"@MMK_R_U" = -50;
};
O = {
A = -50;
Y = -60;
};
P = {
A = -105;
};
R = {
"@MMK_R_O" = -50;
};
S = {
"@MMK_R_A" = -30;
};
W = {
A = -100;
};
a = {
"@MMK_R_j" = -70;
};
c = {
"@MMK_R_Y" = -20;
};
e = {
"@MMK_R_V" = -30;
"@MMK_R_Y" = -50;
"@MMK_R_j" = -75;
v = -8;
};
hyphen = {
"@MMK_R_o" = 10;
};
k = {
w = -18;
};
nine = {
four = -50;
};
p = {
u = 0;
};
seven = {
eight = -15;
four = -60;
};
t = {
p = -30;
u = 9;
y = 0;
};
two = {
four = -30;
};
u = {
"@MMK_R_V" = -30;
"@MMK_R_Y" = -70;
y = -10;
};
w = {
"@MMK_R_Y" = -60;
"@MMK_R_Z" = -40;
"@MMK_R_o" = -20;
};
x = {
"@MMK_R_W" = -50;
"@MMK_R_Y" = -50;
};
z = {
"@MMK_R_Y" = -40;
};
zero = {
four = -20;
};
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
}
);
unitsPerEm = 1000;
userData = {
GSDimensionPlugin.Dimensions = {
m01 = {
HH = "90";
HV = "95";
OH = "90";
OV = "95";
nV = "85";
nd = "75";
oH = "80";
oV = "90";
};
};
};
versionMajor = 1;
versionMinor = 0;
}
