(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
period,
comma,
exclam,
question,
hyphen,
_part.arch,
_part.big_foot,
_part.cap,
_part.circular_base,
_part.foot,
_part.little_foot,
_part.lowercase_stem
)